In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [4]:
df15=pd.read_csv('df15.csv')

In [5]:
df16=pd.read_csv('df16.csv')

In [6]:
df15['Pitch_Type'].value_counts()

1    369081
3    239315
2     85237
Name: Pitch_Type, dtype: int64

In [7]:
df15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693633 entries, 0 to 693632
Data columns (total 23 columns):
Unnamed: 0        693633 non-null int64
Pitch_Type        693633 non-null int64
type_of_pitch     693633 non-null object
Pitcher_name      693633 non-null object
Batter_name       693633 non-null object
inning            693633 non-null int64
run_difference    693633 non-null int64
pitcher_score     693633 non-null int64
batter_score      693633 non-null int64
ball_count        693633 non-null int64
strike_count      693633 non-null int64
outs              693633 non-null int64
pitch_num_ab      693633 non-null int64
on_1b             693633 non-null int64
on_2b             693633 non-null int64
on_3b             693633 non-null int64
pitcher_throws    693633 non-null object
batter_stance     693633 non-null object
weather           693633 non-null object
pitcher_id        693633 non-null int64
batter_id         693633 non-null int64
top               693633 non-null bool
year              693633 non-null int64
dtypes: bool(1), int64(16), object(6)
memory usage: 117.1+ MB

In [8]:
df16['Pitch_Type'].value_counts()

1    372282
3    251421
2     82996
Name: Pitch_Type, dtype: int64

In [9]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706699 entries, 0 to 706698
Data columns (total 23 columns):
Unnamed: 0        706699 non-null int64
Pitch_Type        706699 non-null int64
type_of_pitch     706699 non-null object
Pitcher_name      706699 non-null object
Batter_name       706699 non-null object
inning            706699 non-null int64
run_difference    706699 non-null int64
pitcher_score     706699 non-null int64
batter_score      706699 non-null int64
ball_count        706699 non-null int64
strike_count      706699 non-null int64
outs              706699 non-null int64
pitch_num_ab      706699 non-null int64
on_1b             706699 non-null int64
on_2b             706699 non-null int64
on_3b             706699 non-null int64
pitcher_throws    706699 non-null object
batter_stance     706699 non-null object
weather           706699 non-null object
pitcher_id        706699 non-null int64
batter_id         706699 non-null int64
top               706699 non-null bool
year              706699 non-null int64
dtypes: bool(1), int64(16), object(6)
memory usage: 119.3+ MB

In [10]:
#comnbine 2015 season with 2016 season for Training 
dftrain = df15.append(df16)

In [11]:
#dftrain.to_csv('dftrain.csv')

In [12]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1400332 entries, 0 to 706698
Data columns (total 23 columns):
Unnamed: 0        1400332 non-null int64
Pitch_Type        1400332 non-null int64
type_of_pitch     1400332 non-null object
Pitcher_name      1400332 non-null object
Batter_name       1400332 non-null object
inning            1400332 non-null int64
run_difference    1400332 non-null int64
pitcher_score     1400332 non-null int64
batter_score      1400332 non-null int64
ball_count        1400332 non-null int64
strike_count      1400332 non-null int64
outs              1400332 non-null int64
pitch_num_ab      1400332 non-null int64
on_1b             1400332 non-null int64
on_2b             1400332 non-null int64
on_3b             1400332 non-null int64
pitcher_throws    1400332 non-null object
batter_stance     1400332 non-null object
weather           1400332 non-null object
pitcher_id        1400332 non-null int64
batter_id         1400332 non-null int64
top               1400332 non-null bool
year              1400332 non-null int64
dtypes: bool(1), int64(16), object(6)
memory usage: 247.1+ MB

In [13]:
dftrain.head()

,Unnamed: 0,Pitch_Type,type_of_pitch,Pitcher_name,Batter_name,inning,run_difference,pitcher_score,batter_score,ball_count,strike_count,outs,pitch_num_ab,on_1b,on_2b,on_3b,pitcher_throws,batter_stance,weather,pitcher_id,batter_id,top,year
0,0,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,0,0,1,0,0,0,L,L,"44 degrees, clear",452657,572761,True,2015
1,1,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,1,0,2,0,0,0,L,L,"44 degrees, clear",452657,572761,True,2015
2,2,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,2,0,3,0,0,0,L,L,"44 degrees, clear",452657,572761,True,2015
3,3,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,2,0,4,0,0,0,L,L,"44 degrees, clear",452657,572761,True,2015
4,4,3,CU,Jon Lester,Matt Carpenter,1,0,0,0,1,2,0,5,0,0,0,L,L,"44 degrees, clear",452657,572761,True,2015

In [14]:
#Had to fix some features: stance, putcher's hand
#dftrain.pitcher_throws = dftrain.pitcher_throws.replace(['R', 'L'], [0,1])
dftrain.batter_stance = dftrain.batter_stance.replace(['R', 'L'], [0,1])
dftrain.top = dftrain.top.replace([True, False], [1,0])

In [15]:
dftrain.head()

,Unnamed: 0,Pitch_Type,type_of_pitch,Pitcher_name,Batter_name,inning,run_difference,pitcher_score,batter_score,ball_count,strike_count,outs,pitch_num_ab,on_1b,on_2b,on_3b,pitcher_throws,batter_stance,weather,pitcher_id,batter_id,top,year
0,0,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,0,0,1,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015
1,1,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,1,0,2,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015
2,2,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,2,0,3,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015
3,3,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,2,0,4,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015
4,4,3,CU,Jon Lester,Matt Carpenter,1,0,0,0,1,2,0,5,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015

In [16]:
dftrain.drop(columns= ['weather', 'year'])
dftrain.head()

,Unnamed: 0,Pitch_Type,type_of_pitch,Pitcher_name,Batter_name,inning,run_difference,pitcher_score,batter_score,ball_count,strike_count,outs,pitch_num_ab,on_1b,on_2b,on_3b,pitcher_throws,batter_stance,weather,pitcher_id,batter_id,top,year
0,0,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,0,0,1,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015
1,1,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,1,0,2,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015
2,2,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,2,0,3,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015
3,3,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,2,0,4,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015
4,4,3,CU,Jon Lester,Matt Carpenter,1,0,0,0,1,2,0,5,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015

### Exploartion

In [17]:
#sns.pairplot(dftrain)

In [18]:
dftrain.head(1)

,Unnamed: 0,Pitch_Type,type_of_pitch,Pitcher_name,Batter_name,inning,run_difference,pitcher_score,batter_score,ball_count,strike_count,outs,pitch_num_ab,on_1b,on_2b,on_3b,pitcher_throws,batter_stance,weather,pitcher_id,batter_id,top,year
0,0,1,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,0,0,1,0,0,0,L,1,"44 degrees, clear",452657,572761,1,2015

In [1]:
dfcount= dftrain[['Pitch_Type','ball_count', 'strike_count']]

NameError: name 'dfcount' is not defined