In [1]:
import pandas as pd

#### importing csv

In [2]:
types= pd.read_csv('pitches.csv')

In [ ]:
pitchers= pd.read_csv('player_names.csv')

In [6]:
games= pd.read_csv('games.csv')

In [10]:
types.head(1)

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,...,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b
0,0.416,2.963,92.9,84.1,2305.052,159.235,-25.0,3.2,23.7,7.665,...,3,0.0,2.015000e+09,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [11]:
pitchers.head(1)

       id first_name last_name
0  452657        Jon    Lester

In [12]:
games.head(1)

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0