In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [3]:
df=pd.read_csv('dftrain.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400332 entries, 0 to 1400331
Data columns (total 25 columns):
Unnamed: 0        1400332 non-null int64
Unnamed: 0.1      1400332 non-null int64
Pitch_Type        1400332 non-null int64
type_of_pitch     1400332 non-null object
abid              1400332 non-null int64
Pitcher_name      1400332 non-null object
Batter_name       1400332 non-null object
inning            1400332 non-null int64
run_difference    1400332 non-null int64
pitcher_score     1400332 non-null int64
batter_score      1400332 non-null int64
ball_count        1400332 non-null int64
strike_count      1400332 non-null int64
outs              1400332 non-null int64
pitch_num_ab      1400332 non-null int64
on_1b             1400332 non-null int64
on_2b             1400332 non-null int64
on_3b             1400332 non-null int64
pitcher_throws    1400332 non-null int64
batter_stance     1400332 non-null int64
weather           1400332 non-null object
pitcher_id        1400332 non-null int64
batter_id         1400332 non-null int64
top               1400332 non-null int64
year              1400332 non-null int64
dtypes: int64(21), object(4)
memory usage: 267.1+ MB

In [38]:
#getting how many pitches for each pitcher
df['pitcher_id'].value_counts()

456034    6966
453286    6906
502042    6853
518516    6848
519242    6740
500779    6629
430935    6570
456501    6548
453562    6542
450172    6522
502188    6502
446372    6444
448306    6434
543521    6378
452657    6333
502327    6275
453178    6263
527054    6215
572971    6144
519144    6126
543606    6051
461829    6045
543408    6024
407793    5928
489119    5923
501957    5868
545333    5864
457918    5854
593372    5823
434378    5810
          ...
544150    1352
488984    1347
489265    1339
571735    1338
543883    1333
593140    1322
596043    1308
493200    1294
502028    1293
592346    1293
502522    1288
453249    1286
457768    1286
518858    1277
474029    1276
592135    1275
467094    1264
430589    1257
527055    1253
279571    1245
592390    1245
435400    1242
542609    1228
516910    1227
571527    1226
444520    1218
500610    1208
489446    1208
605304    1207
572788    1203
Name: pitcher_id, Length: 399, dtype: int64

In [39]:
#Dropping pitchers that have not copmpleted AT LEAST 1200 Pitches
vdf = pd.DataFrame(df['pitcher_id'].value_counts())
vdf.describe()

        pitcher_id
count   399.000000
mean   2927.711779
std    1576.571919
min    1203.000000
25%    1709.000000
50%    2249.000000
75%    3865.000000
max    6966.000000

In [40]:
vdf['check'] = vdf['pitcher_id'] > 5351

In [41]:
over_5351 = list(vdf.loc[vdf['check'], :].reset_index()['index'])

In [43]:
df['check'] = df['pitcher_id'].isin(over_5351)
new_df = df.loc[df['check'], :]
new_df = new_df.drop(columns = ['check',])
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300725 entries, 0 to 1400178
Data columns (total 24 columns):
Unnamed: 0.1      300725 non-null int64
Pitch_Type        300725 non-null int64
type_of_pitch     300725 non-null object
abid              300725 non-null int64
Pitcher_name      300725 non-null object
Batter_name       300725 non-null object
inning            300725 non-null int64
run_difference    300725 non-null int64
pitcher_score     300725 non-null int64
batter_score      300725 non-null int64
ball_count        300725 non-null int64
strike_count      300725 non-null int64
outs              300725 non-null int64
pitch_num_ab      300725 non-null int64
on_1b             300725 non-null int64
on_2b             300725 non-null int64
on_3b             300725 non-null int64
pitcher_throws    300725 non-null int64
batter_stance     300725 non-null int64
weather           300725 non-null object
pitcher_id        300725 non-null int64
batter_id         300725 non-null int64
top               300725 non-null int64
year              300725 non-null int64
dtypes: int64(20), object(4)
memory usage: 57.4+ MB

In [44]:
df=new_df

In [45]:
df.describe()

,Unnamed: 0.1,Pitch_Type,abid,inning,run_difference,pitcher_score,batter_score,ball_count,strike_count,outs,pitch_num_ab,on_1b,on_2b,on_3b,pitcher_throws,batter_stance,pitcher_id,batter_id,top,year
count,3.007250e+05,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000,300725.000000
mean,6.979047e+05,1.785196,45909.256610,3.696836,0.492034,1.585621,1.093587,0.861691,0.891629,0.966481,2.885021,0.276984,0.159192,0.081746,0.307730,0.408400,479907.538751,498642.854505,0.499224,2015.497601
std,4.067233e+05,0.905681,27315.021328,1.995209,2.336968,2.087469,1.427914,0.955923,0.825826,0.817838,1.723297,0.447509,0.365856,0.273977,0.461555,0.491539,73796.169656,84532.886296,0.500000,0.499995
min,0.000000e+00,1.000000,0.000000,1.000000,-11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,112526.000000,112526.000000,0.000000,2015.000000
25%,3.474580e+05,1.000000,22563.000000,2.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,450172.000000,452234.000000,0.000000,2015.000000
50%,6.981220e+05,1.000000,45280.000000,4.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,489119.000000,502082.000000,0.000000,2015.000000
75%,1.044219e+06,3.000000,68552.000000,5.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,4.000000,1.000000,0.000000,0.000000,1.000000,1.000000,519144.000000,570267.000000,1.000000,2016.000000
max,1.417938e+06,3.000000,99999.000000,19.000000,16.000000,16.000000,13.000000,3.000000,2.000000,2.000000,14.000000,1.000000,1.000000,1.000000,1.000000,1.000000,593372.000000,666560.000000,1.000000,2016.000000

In [46]:
total=df['Pitcher_name'].value_counts()

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300725 entries, 0 to 1400178
Data columns (total 24 columns):
Unnamed: 0.1      300725 non-null int64
Pitch_Type        300725 non-null int64
type_of_pitch     300725 non-null object
abid              300725 non-null int64
Pitcher_name      300725 non-null object
Batter_name       300725 non-null object
inning            300725 non-null int64
run_difference    300725 non-null int64
pitcher_score     300725 non-null int64
batter_score      300725 non-null int64
ball_count        300725 non-null int64
strike_count      300725 non-null int64
outs              300725 non-null int64
pitch_num_ab      300725 non-null int64
on_1b             300725 non-null int64
on_2b             300725 non-null int64
on_3b             300725 non-null int64
pitcher_throws    300725 non-null int64
batter_stance     300725 non-null int64
weather           300725 non-null object
pitcher_id        300725 non-null int64
batter_id         300725 non-null int64
top               300725 non-null int64
year              300725 non-null int64
dtypes: int64(20), object(4)
memory usage: 57.4+ MB