In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [3]:
df=pd.read_csv('dftrain.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400332 entries, 0 to 1400331
Data columns (total 25 columns):
Unnamed: 0        1400332 non-null int64
Unnamed: 0.1      1400332 non-null int64
Pitch_Type        1400332 non-null int64
type_of_pitch     1400332 non-null object
abid              1400332 non-null int64
Pitcher_name      1400332 non-null object
Batter_name       1400332 non-null object
inning            1400332 non-null int64
run_difference    1400332 non-null int64
pitcher_score     1400332 non-null int64
batter_score      1400332 non-null int64
ball_count        1400332 non-null int64
strike_count      1400332 non-null int64
outs              1400332 non-null int64
pitch_num_ab      1400332 non-null int64
on_1b             1400332 non-null int64
on_2b             1400332 non-null int64
on_3b             1400332 non-null int64
pitcher_throws    1400332 non-null int64
batter_stance     1400332 non-null int64
weather           1400332 non-null object
pitcher_id        1400332 non-null int64
batter_id         1400332 non-null int64
top               1400332 non-null int64
year              1400332 non-null int64
dtypes: int64(21), object(4)
memory usage: 267.1+ MB

In [11]:
#getting how many pitches for each pitcher
df['pitcher_id'].value_counts()

456034    6966
453286    6906
502042    6853
518516    6848
519242    6740
500779    6629
430935    6570
456501    6548
453562    6542
450172    6522
502188    6502
446372    6444
448306    6434
543521    6378
452657    6333
502327    6275
453178    6263
527054    6215
572971    6144
519144    6126
543606    6051
461829    6045
543408    6024
407793    5928
489119    5923
501957    5868
545333    5864
457918    5854
593372    5823
434378    5810
          ...
514913      19
424325      19
400085      18
592407      18
434540      17
461865      17
643603      17
545338      17
518653      17
500871      16
502285      16
446381      16
425543      16
501627      15
543094      15
592419      14
453203      14
543776      13
425560      12
534606      12
572365      11
572033      10
519208       9
596143       8
572889       8
600301       6
489138       5
534627       5
506560       3
456121       2
Name: pitcher_id, Length: 951, dtype: int64

In [14]:
#Dropping inspectors that have not copmpleted AT LEAST 2 inspections
vdf = pd.DataFrame(df['pitcher_id'].value_counts())
vdf.describe()

        pitcher_id
count   951.000000
mean   1472.483701
std    1625.578373
min       2.000000
25%     253.500000
50%     908.000000
75%    2042.500000
max    6966.000000

In [17]:
vdf['check'] = vdf['pitcher_id'] > 1200

In [18]:
over_1200 = list(vdf.loc[vdf['check'], :].reset_index()['index'])

In [19]:
df['check'] = df['pitcher_id'].isin(over_1200)
new_df = df.loc[df['check'], :]
new_df = new_df.drop(columns = ['check', 'Unnamed: 0'])
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168157 entries, 0 to 1400331
Data columns (total 24 columns):
Unnamed: 0.1      1168157 non-null int64
Pitch_Type        1168157 non-null int64
type_of_pitch     1168157 non-null object
abid              1168157 non-null int64
Pitcher_name      1168157 non-null object
Batter_name       1168157 non-null object
inning            1168157 non-null int64
run_difference    1168157 non-null int64
pitcher_score     1168157 non-null int64
batter_score      1168157 non-null int64
ball_count        1168157 non-null int64
strike_count      1168157 non-null int64
outs              1168157 non-null int64
pitch_num_ab      1168157 non-null int64
on_1b             1168157 non-null int64
on_2b             1168157 non-null int64
on_3b             1168157 non-null int64
pitcher_throws    1168157 non-null int64
batter_stance     1168157 non-null int64
weather           1168157 non-null object
pitcher_id        1168157 non-null int64
batter_id         1168157 non-null int64
top               1168157 non-null int64
year              1168157 non-null int64
dtypes: int64(20), object(4)
memory usage: 222.8+ MB

In [20]:
df=new_df

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168157 entries, 0 to 1400331
Data columns (total 24 columns):
Unnamed: 0.1      1168157 non-null int64
Pitch_Type        1168157 non-null int64
type_of_pitch     1168157 non-null object
abid              1168157 non-null int64
Pitcher_name      1168157 non-null object
Batter_name       1168157 non-null object
inning            1168157 non-null int64
run_difference    1168157 non-null int64
pitcher_score     1168157 non-null int64
batter_score      1168157 non-null int64
ball_count        1168157 non-null int64
strike_count      1168157 non-null int64
outs              1168157 non-null int64
pitch_num_ab      1168157 non-null int64
on_1b             1168157 non-null int64
on_2b             1168157 non-null int64
on_3b             1168157 non-null int64
pitcher_throws    1168157 non-null int64
batter_stance     1168157 non-null int64
weather           1168157 non-null object
pitcher_id        1168157 non-null int64
batter_id         1168157 non-null int64
top               1168157 non-null int64
year              1168157 non-null int64
dtypes: int64(20), object(4)
memory usage: 222.8+ MB