In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import RobustScaler, LabelEncoder
from sklearn.model_selection import train_test_split, cross_val_score
pd.set_option('display.max_columns', None)

In [2]:
df=pd.read_csv('all_df.csv')

In [3]:
### will divide df into different dataframes by season

In [4]:
#convert the game id column to a string
dfy = df.g_id.astype('str')

In [5]:
#Since the year is the first four characters, we will isolate those characters
dfy = dfy.str[:4]

In [6]:
dfy.head()

0    2015
1    2015
2    2015
3    2015
4    2015
Name: g_id, dtype: object

In [7]:
#make new columnfor year
df['year'] = dfy.values

In [8]:
df.rename(columns= {'Pitchers Name': 'Pitcher_name', 'Batters Name': 'Batter_name', 'b_score': 'batter_score', 'b_count': 'ball_count', 'p_throws': 'pitcher_throws', 'stand': 'batter_stance', 'p_score': 'pitcher_score', 's_count': 'strike_count', 'pitch_type':'type_of_pitch', 'pitch_num': 'pitch_num_ab'}, inplace= True)

In [ ]:
#df1=df[["batter_score", 'pitcher_score', 'ball_count', 'strike_count', 'outs', 'pitch_num_ab', 'on_1b', 'on_2b', 'on_3b' ]].astype(int)

##### will get rid of unneccesary data for a new Dataframe, divide data by seasons since there is almost 3 million data points

In [12]:
main= pd.DataFrame(df[['type_of_pitch', 'Pitcher_name', 'Batter_name', 'pitcher_score', 'batter_score', 'ball_count', 'strike_count', 'outs', 'pitch_num_ab',
                            'on_1b', 'on_2b', 'on_3b', 'batter_id', 'inning', 'pitcher_throws',
                             'pitcher_id', 'batter_stance', 'top', 'weather', 'year']])

In [14]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2867154 entries, 0 to 2867153
Data columns (total 20 columns):
type_of_pitch     object
Pitcher_name      object
Batter_name       object
pitcher_score     int64
batter_score      float64
ball_count        float64
strike_count      float64
outs              float64
pitch_num_ab      float64
on_1b             float64
on_2b             float64
on_3b             float64
batter_id         int64
inning            int64
pitcher_throws    object
pitcher_id        int64
batter_stance     object
top               bool
weather           object
year              object
dtypes: bool(1), float64(8), int64(4), object(7)
memory usage: 418.4+ MB

In [15]:
#needed to convert all floats to int, no benefit to keeping as floats
main[["batter_score", 'pitcher_score', 'ball_count', 'strike_count', 'outs', 'pitch_num_ab', 'on_1b', 'on_2b', 'on_3b' ]]= main[["batter_score", 'pitcher_score', 'ball_count', 'strike_count', 'outs', 'pitch_num_ab', 'on_1b', 'on_2b', 'on_3b' ]].astype(int)

In [19]:
main.head(1)

,type_of_pitch,Pitcher_name,Batter_name,pitcher_score,batter_score,ball_count,strike_count,outs,pitch_num_ab,on_1b,on_2b,on_3b,batter_id,inning,pitcher_throws,pitcher_id,batter_stance,top,weather,year
0,FF,Jon Lester,Matt Carpenter,0,0,0,0,0,1,0,0,0,572761,1,L,452657,L,True,"44 degrees, clear",2015

In [20]:
main= main[['type_of_pitch', 'Pitcher_name', 'Batter_name', 'inning', 'pitcher_score', 'batter_score', 'ball_count', 'strike_count', 'outs', 'pitch_num_ab',
                            'on_1b', 'on_2b', 'on_3b',  'pitcher_throws', 'batter_stance', 'weather',
                             'pitcher_id', 'batter_id', 'top', 'year']]

In [21]:
main.head(1)

,type_of_pitch,Pitcher_name,Batter_name,inning,pitcher_score,batter_score,ball_count,strike_count,outs,pitch_num_ab,on_1b,on_2b,on_3b,pitcher_throws,batter_stance,weather,pitcher_id,batter_id,top,year
0,FF,Jon Lester,Matt Carpenter,1,0,0,0,0,0,1,0,0,0,L,L,"44 degrees, clear",452657,572761,True,2015

In [ ]:
#checking for null values
main.isnull().sum()

#### Since <1% of the total observations contain null values (under pitch_type)we can drop the null values from the dataset

In [ ]:
#dropping null values
main = main.dropna()

In [ ]:
main.isnull().sum()

In [ ]:
main.head(15)

In [ ]:
#isolating the data that only contains the 2015 season
df15 = main[main['year'] == '2015']
df15.to_csv('df15.csv')

In [ ]:
#isolating the data that only contains the 2016 season
df16 = main[main['year'] == '2016']
df16.to_csv('df16.csv')

In [ ]:
#isolating the data that only contains the 2017 season
df17 = main[main['year'] == '2017']
df17.to_csv('df17.csv')

In [ ]:
#isolating the data that only contains the 2018 season
df18 = main[main['year'] == '2018']
df18.to_csv('df18.csv')

In [ ]:
df18.info()

In [ ]:
df15.describe()