In [1]:
import pandas as pd

In [15]:
pd.set_option('display.max_columns', 500)

#### importing csv

In [2]:
types= pd.read_csv('pitches.csv')

In [ ]:
pitchers= pd.read_csv('player_names.csv')

In [6]:
games= pd.read_csv('games.csv')

In [13]:
batters= pd.read_csv('atbats.csv')

NameError: name 'types' is not defined

In [11]:
pitchers.head(1)

       id first_name last_name
0  452657        Jon    Lester

In [12]:
games.head(1)

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0

In [14]:
batters.head(1)

,ab_id,batter_id,event,g_id,inning,o,p_score,p_throws,pitcher_id,stand,top
0,2015000001,572761,Groundout,201500001,1,1,0,L,452657,L,True