In [3]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

In [29]:
df=pd.read_csv('OHtop50.csv')

In [30]:
df=df.drop(columns='Unnamed: 0')
df.head()

,Pitch_Type,inning,run_difference,ball_count,strike_count,outs,pitch_num_ab,on_1b,on_2b,on_3b,...,Pitcher_name_Mike Leake,Pitcher_name_Rick Porcello,Pitcher_name_Robbie Ray,Pitcher_name_Sonny Gray,Pitcher_name_Taijuan Walker,Pitcher_name_Tanner Roark,Pitcher_name_Trevor Bauer,Pitcher_name_Ubaldo Jimenez,Pitcher_name_Wade Miley,Pitcher_name_Zack Greinke
0,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,2,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,2,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,1,0,1,2,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
X = df.drop(columns= 'Pitch_Type').astype(int)
Y = df['Pitch_Type'].astype(int)
X.head()

,inning,run_difference,ball_count,strike_count,outs,pitch_num_ab,on_1b,on_2b,on_3b,batter_stance,...,Pitcher_name_Mike Leake,Pitcher_name_Rick Porcello,Pitcher_name_Robbie Ray,Pitcher_name_Sonny Gray,Pitcher_name_Taijuan Walker,Pitcher_name_Tanner Roark,Pitcher_name_Trevor Bauer,Pitcher_name_Ubaldo Jimenez,Pitcher_name_Wade Miley,Pitcher_name_Zack Greinke
0,1,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,2,0,3,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,2,0,4,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,1,2,0,5,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [33]:
Y.head()

0    1
1    1
2    1
3    1
4    3
Name: Pitch_Type, dtype: int64

In [43]:
# define baseline model
def baseline_model():
# create model
    model = Sequential()
    model.add(Dense(8, activation='relu'))
    model.add(Dense(3, activation='softmax'))
# Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [44]:
estimator = KerasClassifier(build_fn=baseline_model, epochs=200, batch_size=5, verbose=0)

In [45]:
kfold = KFold(n_splits=10, shuffle=True)

In [ ]:
#labels = df["Pitch_Type"].copy()
results = cross_val_score(estimator, X.values, Y.values, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))